// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
//@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* footer */

.footer{
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  img{
    width: 50px;
    height: 50px;
  }
  a{
    padding-left: 30px;
  }
}
